body {
    font-family: Arial, sans-serif;
    background-color: #151925;
    color: white;
    margin: 0;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #151925;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #ffffff;
    font-weight: bold;
}

.navbar a:hover {
    color: #01eeff;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-size: 2;
    margin-bottom: 2 0;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5;
    row-gap: 15;
    width: 90%;
    justify-items: center;
}

.skill {
    margin: 50px;
    text-align: center;
}

.skill img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.skill h4 {
    font-size: 1;
    font-weight: bold;
    margin: 0;
}